<div align="center">
	<img ng-src="<%= image_path('tatcha.jpg') %>" />

  <h2>BESTSELLERS</h2>	
  <h3>TATCHA's most beloved treasures for easy discovery and replenishment.</h3>	

	<div class="input-group">
  	 <input ng-model="searchProducts" ng-model-options="{ debounce: 300 }" type="text" class="form-control" placeholder="Search">
	</div>
</div>