<div ng-controller="productsCtrl">
	<%= render :partial => 'header' %>
  <hr/>
  <div ng-if="!displayProductDetails">
		<%= render :partial => 'products' %>
	</div>
	<div ng-if="displayProductDetails">
		<%= render :partial => 'product_details' %>
	</div>
</div>
